<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njtech.blog.mappers.FamilyMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.njtech.blog.entity.po.Family">
		<!--id-->
		<id column="id" property="id"  />
		<!--用户ID-->
		<result column="user_id" property="userId"  />
		<!--背景封面-->
		<result column="bg_cover" property="bgCover"  />
		<!--男生头像-->
		<result column="man_cover" property="manCover"  />
		<!--女生头像-->
		<result column="woman_cover" property="womanCover"  />
		<!--男生昵称-->
		<result column="man_name" property="manName"  />
		<!--女生昵称-->
		<result column="woman_name" property="womanName"  />
		<!--计时-->
		<result column="timing" property="timing"  />
		<!--倒计时标题-->
		<result column="countdown_title" property="countdownTitle"  />
		<!--倒计时时间-->
		<result column="countdown_time" property="countdownTime"  />
		<!--是否启用[0:否，1:是]-->
		<result column="status" property="status"  />
		<!--额外信息-->
		<result column="family_info" property="familyInfo"  />
		<!--点赞数-->
		<result column="like_count" property="likeCount"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--最终修改时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 id,user_id,bg_cover,man_cover,woman_cover,
		 man_name,woman_name,timing,countdown_title,countdown_time,
		 status,family_info,like_count,create_time,update_time
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  id = #{query.id}
			</if>
			<if test="query.userId != null">
				 and  user_id = #{query.userId}
			</if>
			<if test="query.bgCover != null and query.bgCover!=''">
				 and  bg_cover = #{query.bgCover}
			</if>
			<if test="query.manCover != null and query.manCover!=''">
				 and  man_cover = #{query.manCover}
			</if>
			<if test="query.womanCover != null and query.womanCover!=''">
				 and  woman_cover = #{query.womanCover}
			</if>
			<if test="query.manName != null and query.manName!=''">
				 and  man_name = #{query.manName}
			</if>
			<if test="query.womanName != null and query.womanName!=''">
				 and  woman_name = #{query.womanName}
			</if>
			<if test="query.timing != null and query.timing!=''">
				 and  timing = #{query.timing}
			</if>
			<if test="query.countdownTitle != null and query.countdownTitle!=''">
				 and  countdown_title = #{query.countdownTitle}
			</if>
			<if test="query.countdownTime != null and query.countdownTime!=''">
				 and  countdown_time = #{query.countdownTime}
			</if>
			<if test="query.status != null">
				 and  status = #{query.status}
			</if>
			<if test="query.familyInfo != null and query.familyInfo!=''">
				 and  family_info = #{query.familyInfo}
			</if>
			<if test="query.likeCount != null">
				 and  like_count = #{query.likeCount}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.bgCoverFuzzy!= null  and query.bgCoverFuzzy!=''">
				 and  bg_cover like concat('%', #{query.bgCoverFuzzy}, '%')
			</if>
			<if test="query.manCoverFuzzy!= null  and query.manCoverFuzzy!=''">
				 and  man_cover like concat('%', #{query.manCoverFuzzy}, '%')
			</if>
			<if test="query.womanCoverFuzzy!= null  and query.womanCoverFuzzy!=''">
				 and  woman_cover like concat('%', #{query.womanCoverFuzzy}, '%')
			</if>
			<if test="query.manNameFuzzy!= null  and query.manNameFuzzy!=''">
				 and  man_name like concat('%', #{query.manNameFuzzy}, '%')
			</if>
			<if test="query.womanNameFuzzy!= null  and query.womanNameFuzzy!=''">
				 and  woman_name like concat('%', #{query.womanNameFuzzy}, '%')
			</if>
			<if test="query.timingFuzzy!= null  and query.timingFuzzy!=''">
				 and  timing like concat('%', #{query.timingFuzzy}, '%')
			</if>
			<if test="query.countdownTitleFuzzy!= null  and query.countdownTitleFuzzy!=''">
				 and  countdown_title like concat('%', #{query.countdownTitleFuzzy}, '%')
			</if>
			<if test="query.countdownTimeFuzzy!= null  and query.countdownTimeFuzzy!=''">
				 and  countdown_time like concat('%', #{query.countdownTimeFuzzy}, '%')
			</if>
			<if test="query.familyInfoFuzzy!= null  and query.familyInfoFuzzy!=''">
				 and  family_info like concat('%', #{query.familyInfoFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM family <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM family <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.njtech.blog.entity.po.Family">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO family
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.bgCover != null">
				 bg_cover,
			</if>
			<if test="bean.manCover != null">
				 man_cover,
			</if>
			<if test="bean.womanCover != null">
				 woman_cover,
			</if>
			<if test="bean.manName != null">
				 man_name,
			</if>
			<if test="bean.womanName != null">
				 woman_name,
			</if>
			<if test="bean.timing != null">
				 timing,
			</if>
			<if test="bean.countdownTitle != null">
				 countdown_title,
			</if>
			<if test="bean.countdownTime != null">
				 countdown_time,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.familyInfo != null">
				 family_info,
			</if>
			<if test="bean.likeCount != null">
				 like_count,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.bgCover!=null">
				 #{bean.bgCover},
			</if>
			<if test="bean.manCover!=null">
				 #{bean.manCover},
			</if>
			<if test="bean.womanCover!=null">
				 #{bean.womanCover},
			</if>
			<if test="bean.manName!=null">
				 #{bean.manName},
			</if>
			<if test="bean.womanName!=null">
				 #{bean.womanName},
			</if>
			<if test="bean.timing!=null">
				 #{bean.timing},
			</if>
			<if test="bean.countdownTitle!=null">
				 #{bean.countdownTitle},
			</if>
			<if test="bean.countdownTime!=null">
				 #{bean.countdownTime},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.familyInfo!=null">
				 #{bean.familyInfo},
			</if>
			<if test="bean.likeCount!=null">
				 #{bean.likeCount},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.njtech.blog.entity.po.Family">
		 INSERT INTO family
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.bgCover != null">
				 bg_cover,
			</if>
			<if test="bean.manCover != null">
				 man_cover,
			</if>
			<if test="bean.womanCover != null">
				 woman_cover,
			</if>
			<if test="bean.manName != null">
				 man_name,
			</if>
			<if test="bean.womanName != null">
				 woman_name,
			</if>
			<if test="bean.timing != null">
				 timing,
			</if>
			<if test="bean.countdownTitle != null">
				 countdown_title,
			</if>
			<if test="bean.countdownTime != null">
				 countdown_time,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.familyInfo != null">
				 family_info,
			</if>
			<if test="bean.likeCount != null">
				 like_count,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.bgCover!=null">
				 #{bean.bgCover},
			</if>
			<if test="bean.manCover!=null">
				 #{bean.manCover},
			</if>
			<if test="bean.womanCover!=null">
				 #{bean.womanCover},
			</if>
			<if test="bean.manName!=null">
				 #{bean.manName},
			</if>
			<if test="bean.womanName!=null">
				 #{bean.womanName},
			</if>
			<if test="bean.timing!=null">
				 #{bean.timing},
			</if>
			<if test="bean.countdownTitle!=null">
				 #{bean.countdownTitle},
			</if>
			<if test="bean.countdownTime!=null">
				 #{bean.countdownTime},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.familyInfo!=null">
				 #{bean.familyInfo},
			</if>
			<if test="bean.likeCount!=null">
				 #{bean.likeCount},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.bgCover!=null">
				 bg_cover = VALUES(bg_cover),
			</if>
			<if test="bean.manCover!=null">
				 man_cover = VALUES(man_cover),
			</if>
			<if test="bean.womanCover!=null">
				 woman_cover = VALUES(woman_cover),
			</if>
			<if test="bean.manName!=null">
				 man_name = VALUES(man_name),
			</if>
			<if test="bean.womanName!=null">
				 woman_name = VALUES(woman_name),
			</if>
			<if test="bean.timing!=null">
				 timing = VALUES(timing),
			</if>
			<if test="bean.countdownTitle!=null">
				 countdown_title = VALUES(countdown_title),
			</if>
			<if test="bean.countdownTime!=null">
				 countdown_time = VALUES(countdown_time),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.familyInfo!=null">
				 family_info = VALUES(family_info),
			</if>
			<if test="bean.likeCount!=null">
				 like_count = VALUES(like_count),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.njtech.blog.entity.po.Family" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO family(
			 user_id,
			 bg_cover,
			 man_cover,
			 woman_cover,
			 man_name,
			 woman_name,
			 timing,
			 countdown_title,
			 countdown_time,
			 status,
			 family_info,
			 like_count,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.bgCover},
				 #{item.manCover},
				 #{item.womanCover},
				 #{item.manName},
				 #{item.womanName},
				 #{item.timing},
				 #{item.countdownTitle},
				 #{item.countdownTime},
				 #{item.status},
				 #{item.familyInfo},
				 #{item.likeCount},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.njtech.blog.entity.po.Family">
		 INSERT INTO family(
			 user_id,
			 bg_cover,
			 man_cover,
			 woman_cover,
			 man_name,
			 woman_name,
			 timing,
			 countdown_title,
			 countdown_time,
			 status,
			 family_info,
			 like_count,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.bgCover},
				 #{item.manCover},
				 #{item.womanCover},
				 #{item.manName},
				 #{item.womanName},
				 #{item.timing},
				 #{item.countdownTitle},
				 #{item.countdownTime},
				 #{item.status},
				 #{item.familyInfo},
				 #{item.likeCount},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			bg_cover = VALUES(bg_cover),
			man_cover = VALUES(man_cover),
			woman_cover = VALUES(woman_cover),
			man_name = VALUES(man_name),
			woman_name = VALUES(woman_name),
			timing = VALUES(timing),
			countdown_title = VALUES(countdown_title),
			countdown_time = VALUES(countdown_time),
			status = VALUES(status),
			family_info = VALUES(family_info),
			like_count = VALUES(like_count),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.njtech.blog.entity.query.FamilyQuery">
		 UPDATE family
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.bgCover != null">
				 bg_cover = #{bean.bgCover},
			</if>
			<if test="bean.manCover != null">
				 man_cover = #{bean.manCover},
			</if>
			<if test="bean.womanCover != null">
				 woman_cover = #{bean.womanCover},
			</if>
			<if test="bean.manName != null">
				 man_name = #{bean.manName},
			</if>
			<if test="bean.womanName != null">
				 woman_name = #{bean.womanName},
			</if>
			<if test="bean.timing != null">
				 timing = #{bean.timing},
			</if>
			<if test="bean.countdownTitle != null">
				 countdown_title = #{bean.countdownTitle},
			</if>
			<if test="bean.countdownTime != null">
				 countdown_time = #{bean.countdownTime},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.familyInfo != null">
				 family_info = #{bean.familyInfo},
			</if>
			<if test="bean.likeCount != null">
				 like_count = #{bean.likeCount},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from family
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.njtech.blog.entity.po.Family">
		 UPDATE family
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.bgCover != null">
				 bg_cover = #{bean.bgCover},
			</if>
			<if test="bean.manCover != null">
				 man_cover = #{bean.manCover},
			</if>
			<if test="bean.womanCover != null">
				 woman_cover = #{bean.womanCover},
			</if>
			<if test="bean.manName != null">
				 man_name = #{bean.manName},
			</if>
			<if test="bean.womanName != null">
				 woman_name = #{bean.womanName},
			</if>
			<if test="bean.timing != null">
				 timing = #{bean.timing},
			</if>
			<if test="bean.countdownTitle != null">
				 countdown_title = #{bean.countdownTitle},
			</if>
			<if test="bean.countdownTime != null">
				 countdown_time = #{bean.countdownTime},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.familyInfo != null">
				 family_info = #{bean.familyInfo},
			</if>
			<if test="bean.likeCount != null">
				 like_count = #{bean.likeCount},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from family where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from family where id=#{id}
	</select>

</mapper>