<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njtech.blog.mappers.HistoryInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.njtech.blog.entity.po.HistoryInfo">
		<!--id-->
		<id column="id" property="id"  />
		<!--用户ID-->
		<result column="user_id" property="userId"  />
		<!--ip-->
		<result column="ip" property="ip"  />
		<!--国家-->
		<result column="nation" property="nation"  />
		<!--省份-->
		<result column="province" property="province"  />
		<!--城市-->
		<result column="city" property="city"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 id,user_id,ip,nation,province,
		 city,create_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  id = #{query.id}
			</if>
			<if test="query.userId != null">
				 and  user_id = #{query.userId}
			</if>
			<if test="query.ip != null and query.ip!=''">
				 and  ip = #{query.ip}
			</if>
			<if test="query.nation != null and query.nation!=''">
				 and  nation = #{query.nation}
			</if>
			<if test="query.province != null and query.province!=''">
				 and  province = #{query.province}
			</if>
			<if test="query.city != null and query.city!=''">
				 and  city = #{query.city}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.ipFuzzy!= null  and query.ipFuzzy!=''">
				 and  ip like concat('%', #{query.ipFuzzy}, '%')
			</if>
			<if test="query.nationFuzzy!= null  and query.nationFuzzy!=''">
				 and  nation like concat('%', #{query.nationFuzzy}, '%')
			</if>
			<if test="query.provinceFuzzy!= null  and query.provinceFuzzy!=''">
				 and  province like concat('%', #{query.provinceFuzzy}, '%')
			</if>
			<if test="query.cityFuzzy!= null  and query.cityFuzzy!=''">
				 and  city like concat('%', #{query.cityFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM history_info <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM history_info <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.njtech.blog.entity.po.HistoryInfo">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO history_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.ip != null">
				 ip,
			</if>
			<if test="bean.nation != null">
				 nation,
			</if>
			<if test="bean.province != null">
				 province,
			</if>
			<if test="bean.city != null">
				 city,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.ip!=null">
				 #{bean.ip},
			</if>
			<if test="bean.nation!=null">
				 #{bean.nation},
			</if>
			<if test="bean.province!=null">
				 #{bean.province},
			</if>
			<if test="bean.city!=null">
				 #{bean.city},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.njtech.blog.entity.po.HistoryInfo">
		 INSERT INTO history_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.ip != null">
				 ip,
			</if>
			<if test="bean.nation != null">
				 nation,
			</if>
			<if test="bean.province != null">
				 province,
			</if>
			<if test="bean.city != null">
				 city,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.ip!=null">
				 #{bean.ip},
			</if>
			<if test="bean.nation!=null">
				 #{bean.nation},
			</if>
			<if test="bean.province!=null">
				 #{bean.province},
			</if>
			<if test="bean.city!=null">
				 #{bean.city},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.ip!=null">
				 ip = VALUES(ip),
			</if>
			<if test="bean.nation!=null">
				 nation = VALUES(nation),
			</if>
			<if test="bean.province!=null">
				 province = VALUES(province),
			</if>
			<if test="bean.city!=null">
				 city = VALUES(city),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.njtech.blog.entity.po.HistoryInfo" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO history_info(
			 user_id,
			 ip,
			 nation,
			 province,
			 city,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.ip},
				 #{item.nation},
				 #{item.province},
				 #{item.city},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.njtech.blog.entity.po.HistoryInfo">
		 INSERT INTO history_info(
			 user_id,
			 ip,
			 nation,
			 province,
			 city,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.ip},
				 #{item.nation},
				 #{item.province},
				 #{item.city},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			ip = VALUES(ip),
			nation = VALUES(nation),
			province = VALUES(province),
			city = VALUES(city),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.njtech.blog.entity.query.HistoryInfoQuery">
		 UPDATE history_info
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.ip != null">
				 ip = #{bean.ip},
			</if>
			<if test="bean.nation != null">
				 nation = #{bean.nation},
			</if>
			<if test="bean.province != null">
				 province = #{bean.province},
			</if>
			<if test="bean.city != null">
				 city = #{bean.city},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from history_info
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.njtech.blog.entity.po.HistoryInfo">
		 UPDATE history_info
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.ip != null">
				 ip = #{bean.ip},
			</if>
			<if test="bean.nation != null">
				 nation = #{bean.nation},
			</if>
			<if test="bean.province != null">
				 province = #{bean.province},
			</if>
			<if test="bean.city != null">
				 city = #{bean.city},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from history_info where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from history_info where id=#{id}
	</select>

</mapper>