<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njtech.blog.mappers.LabelMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.njtech.blog.entity.po.Label">
		<!--id-->
		<id column="id" property="id"  />
		<!--分类ID-->
		<result column="sort_id" property="sortId"  />
		<!--标签名称-->
		<result column="label_name" property="labelName"  />
		<!--标签描述-->
		<result column="label_description" property="labelDescription"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 id,sort_id,label_name,label_description
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  id = #{query.id}
			</if>
			<if test="query.sortId != null">
				 and  sort_id = #{query.sortId}
			</if>
			<if test="query.labelName != null and query.labelName!=''">
				 and  label_name = #{query.labelName}
			</if>
			<if test="query.labelDescription != null and query.labelDescription!=''">
				 and  label_description = #{query.labelDescription}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.labelNameFuzzy!= null  and query.labelNameFuzzy!=''">
				 and  label_name like concat('%', #{query.labelNameFuzzy}, '%')
			</if>
			<if test="query.labelDescriptionFuzzy!= null  and query.labelDescriptionFuzzy!=''">
				 and  label_description like concat('%', #{query.labelDescriptionFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM label <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM label <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.njtech.blog.entity.po.Label">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO label
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.sortId != null">
				 sort_id,
			</if>
			<if test="bean.labelName != null">
				 label_name,
			</if>
			<if test="bean.labelDescription != null">
				 label_description,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.sortId!=null">
				 #{bean.sortId},
			</if>
			<if test="bean.labelName!=null">
				 #{bean.labelName},
			</if>
			<if test="bean.labelDescription!=null">
				 #{bean.labelDescription},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.njtech.blog.entity.po.Label">
		 INSERT INTO label
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.sortId != null">
				 sort_id,
			</if>
			<if test="bean.labelName != null">
				 label_name,
			</if>
			<if test="bean.labelDescription != null">
				 label_description,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.sortId!=null">
				 #{bean.sortId},
			</if>
			<if test="bean.labelName!=null">
				 #{bean.labelName},
			</if>
			<if test="bean.labelDescription!=null">
				 #{bean.labelDescription},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.sortId!=null">
				 sort_id = VALUES(sort_id),
			</if>
			<if test="bean.labelName!=null">
				 label_name = VALUES(label_name),
			</if>
			<if test="bean.labelDescription!=null">
				 label_description = VALUES(label_description),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.njtech.blog.entity.po.Label" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO label(
			 sort_id,
			 label_name,
			 label_description
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.sortId},
				 #{item.labelName},
				 #{item.labelDescription}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.njtech.blog.entity.po.Label">
		 INSERT INTO label(
			 sort_id,
			 label_name,
			 label_description
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.sortId},
				 #{item.labelName},
				 #{item.labelDescription}
			 )
		 </foreach>
			on DUPLICATE key update 
			sort_id = VALUES(sort_id),
			label_name = VALUES(label_name),
			label_description = VALUES(label_description)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.njtech.blog.entity.query.LabelQuery">
		 UPDATE label
 		 <set> 
			<if test="bean.sortId != null">
				 sort_id = #{bean.sortId},
			</if>
			<if test="bean.labelName != null">
				 label_name = #{bean.labelName},
			</if>
			<if test="bean.labelDescription != null">
				 label_description = #{bean.labelDescription},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from label
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.njtech.blog.entity.po.Label">
		 UPDATE label
 		 <set> 
			<if test="bean.sortId != null">
				 sort_id = #{bean.sortId},
			</if>
			<if test="bean.labelName != null">
				 label_name = #{bean.labelName},
			</if>
			<if test="bean.labelDescription != null">
				 label_description = #{bean.labelDescription},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from label where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from label where id=#{id}
	</select>

</mapper>