<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njtech.blog.mappers.SysConfigMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.njtech.blog.entity.po.SysConfig">
		<!--id-->
		<id column="id" property="id"  />
		<!--名称-->
		<result column="config_name" property="configName"  />
		<!--键名-->
		<result column="config_key" property="configKey"  />
		<!--键值-->
		<result column="config_value" property="configValue"  />
		<!--1 私用 2 公开-->
		<result column="config_type" property="configType"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 id,config_name,config_key,config_value,config_type
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  id = #{query.id}
			</if>
			<if test="query.configName != null and query.configName!=''">
				 and  config_name = #{query.configName}
			</if>
			<if test="query.configKey != null and query.configKey!=''">
				 and  config_key = #{query.configKey}
			</if>
			<if test="query.configValue != null and query.configValue!=''">
				 and  config_value = #{query.configValue}
			</if>
			<if test="query.configType != null and query.configType!=''">
				 and  config_type = #{query.configType}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.configNameFuzzy!= null  and query.configNameFuzzy!=''">
				 and  config_name like concat('%', #{query.configNameFuzzy}, '%')
			</if>
			<if test="query.configKeyFuzzy!= null  and query.configKeyFuzzy!=''">
				 and  config_key like concat('%', #{query.configKeyFuzzy}, '%')
			</if>
			<if test="query.configValueFuzzy!= null  and query.configValueFuzzy!=''">
				 and  config_value like concat('%', #{query.configValueFuzzy}, '%')
			</if>
			<if test="query.configTypeFuzzy!= null  and query.configTypeFuzzy!=''">
				 and  config_type like concat('%', #{query.configTypeFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM sys_config <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM sys_config <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.njtech.blog.entity.po.SysConfig">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO sys_config
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.configName != null">
				 config_name,
			</if>
			<if test="bean.configKey != null">
				 config_key,
			</if>
			<if test="bean.configValue != null">
				 config_value,
			</if>
			<if test="bean.configType != null">
				 config_type,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.configName!=null">
				 #{bean.configName},
			</if>
			<if test="bean.configKey!=null">
				 #{bean.configKey},
			</if>
			<if test="bean.configValue!=null">
				 #{bean.configValue},
			</if>
			<if test="bean.configType!=null">
				 #{bean.configType},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.njtech.blog.entity.po.SysConfig">
		 INSERT INTO sys_config
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.configName != null">
				 config_name,
			</if>
			<if test="bean.configKey != null">
				 config_key,
			</if>
			<if test="bean.configValue != null">
				 config_value,
			</if>
			<if test="bean.configType != null">
				 config_type,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.configName!=null">
				 #{bean.configName},
			</if>
			<if test="bean.configKey!=null">
				 #{bean.configKey},
			</if>
			<if test="bean.configValue!=null">
				 #{bean.configValue},
			</if>
			<if test="bean.configType!=null">
				 #{bean.configType},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.configName!=null">
				 config_name = VALUES(config_name),
			</if>
			<if test="bean.configKey!=null">
				 config_key = VALUES(config_key),
			</if>
			<if test="bean.configValue!=null">
				 config_value = VALUES(config_value),
			</if>
			<if test="bean.configType!=null">
				 config_type = VALUES(config_type),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.njtech.blog.entity.po.SysConfig" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO sys_config(
			 config_name,
			 config_key,
			 config_value,
			 config_type
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.configName},
				 #{item.configKey},
				 #{item.configValue},
				 #{item.configType}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.njtech.blog.entity.po.SysConfig">
		 INSERT INTO sys_config(
			 config_name,
			 config_key,
			 config_value,
			 config_type
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.configName},
				 #{item.configKey},
				 #{item.configValue},
				 #{item.configType}
			 )
		 </foreach>
			on DUPLICATE key update 
			config_name = VALUES(config_name),
			config_key = VALUES(config_key),
			config_value = VALUES(config_value),
			config_type = VALUES(config_type)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.njtech.blog.entity.query.SysConfigQuery">
		 UPDATE sys_config
 		 <set> 
			<if test="bean.configName != null">
				 config_name = #{bean.configName},
			</if>
			<if test="bean.configKey != null">
				 config_key = #{bean.configKey},
			</if>
			<if test="bean.configValue != null">
				 config_value = #{bean.configValue},
			</if>
			<if test="bean.configType != null">
				 config_type = #{bean.configType},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from sys_config
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.njtech.blog.entity.po.SysConfig">
		 UPDATE sys_config
 		 <set> 
			<if test="bean.configName != null">
				 config_name = #{bean.configName},
			</if>
			<if test="bean.configKey != null">
				 config_key = #{bean.configKey},
			</if>
			<if test="bean.configValue != null">
				 config_value = #{bean.configValue},
			</if>
			<if test="bean.configType != null">
				 config_type = #{bean.configType},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from sys_config where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from sys_config where id=#{id}
	</select>

</mapper>