<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njtech.blog.mappers.UserMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.njtech.blog.entity.po.User">
		<!--id-->
		<id column="id" property="id"  />
		<!--用户名-->
		<result column="username" property="username"  />
		<!--密码-->
		<result column="password" property="password"  />
		<!--手机号-->
		<result column="phone_number" property="phoneNumber"  />
		<!--用户邮箱-->
		<result column="email" property="email"  />
		<!--是否启用[0:否，1:是]-->
		<result column="user_status" property="userStatus"  />
		<!--性别[1:男，2:女，0:保密]-->
		<result column="gender" property="gender"  />
		<!--openId-->
		<result column="open_id" property="openId"  />
		<!--头像-->
		<result column="avatar" property="avatar"  />
		<!--赞赏-->
		<result column="admire" property="admire"  />
		<!--订阅-->
		<result column="subscribe" property="subscribe"  />
		<!--简介-->
		<result column="introduction" property="introduction"  />
		<!--用户类型[0:admin，1:管理员，2:普通用户]-->
		<result column="user_type" property="userType"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--最终修改时间-->
		<result column="update_time" property="updateTime"  />
		<!--最终修改人-->
		<result column="update_by" property="updateBy"  />
		<!--是否启用[0:未删除，1:已删除]-->
		<result column="deleted" property="deleted"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 id,username,password,phone_number,email,
		 user_status,gender,open_id,avatar,admire,
		 subscribe,introduction,user_type,create_time,update_time,
		 update_by,deleted
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  id = #{query.id}
			</if>
			<if test="query.username != null and query.username!=''">
				 and  username = #{query.username}
			</if>
			<if test="query.password != null and query.password!=''">
				 and  password = #{query.password}
			</if>
			<if test="query.phoneNumber != null and query.phoneNumber!=''">
				 and  phone_number = #{query.phoneNumber}
			</if>
			<if test="query.email != null and query.email!=''">
				 and  email = #{query.email}
			</if>
			<if test="query.userStatus != null">
				 and  user_status = #{query.userStatus}
			</if>
			<if test="query.gender != null">
				 and  gender = #{query.gender}
			</if>
			<if test="query.openId != null and query.openId!=''">
				 and  open_id = #{query.openId}
			</if>
			<if test="query.avatar != null and query.avatar!=''">
				 and  avatar = #{query.avatar}
			</if>
			<if test="query.admire != null and query.admire!=''">
				 and  admire = #{query.admire}
			</if>
			<if test="query.subscribe != null and query.subscribe!=''">
				 and  subscribe = #{query.subscribe}
			</if>
			<if test="query.introduction != null and query.introduction!=''">
				 and  introduction = #{query.introduction}
			</if>
			<if test="query.userType != null">
				 and  user_type = #{query.userType}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateBy != null and query.updateBy!=''">
				 and  update_by = #{query.updateBy}
			</if>
			<if test="query.deleted != null">
				 and  deleted = #{query.deleted}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.usernameFuzzy!= null  and query.usernameFuzzy!=''">
				 and  username like concat('%', #{query.usernameFuzzy}, '%')
			</if>
			<if test="query.passwordFuzzy!= null  and query.passwordFuzzy!=''">
				 and  password like concat('%', #{query.passwordFuzzy}, '%')
			</if>
			<if test="query.phoneNumberFuzzy!= null  and query.phoneNumberFuzzy!=''">
				 and  phone_number like concat('%', #{query.phoneNumberFuzzy}, '%')
			</if>
			<if test="query.emailFuzzy!= null  and query.emailFuzzy!=''">
				 and  email like concat('%', #{query.emailFuzzy}, '%')
			</if>
			<if test="query.openIdFuzzy!= null  and query.openIdFuzzy!=''">
				 and  open_id like concat('%', #{query.openIdFuzzy}, '%')
			</if>
			<if test="query.avatarFuzzy!= null  and query.avatarFuzzy!=''">
				 and  avatar like concat('%', #{query.avatarFuzzy}, '%')
			</if>
			<if test="query.admireFuzzy!= null  and query.admireFuzzy!=''">
				 and  admire like concat('%', #{query.admireFuzzy}, '%')
			</if>
			<if test="query.subscribeFuzzy!= null  and query.subscribeFuzzy!=''">
				 and  subscribe like concat('%', #{query.subscribeFuzzy}, '%')
			</if>
			<if test="query.introductionFuzzy!= null  and query.introductionFuzzy!=''">
				 and  introduction like concat('%', #{query.introductionFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateByFuzzy!= null  and query.updateByFuzzy!=''">
				 and  update_by like concat('%', #{query.updateByFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM user <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM user <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.njtech.blog.entity.po.User">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO user
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.username != null">
				 username,
			</if>
			<if test="bean.password != null">
				 password,
			</if>
			<if test="bean.phoneNumber != null">
				 phone_number,
			</if>
			<if test="bean.email != null">
				 email,
			</if>
			<if test="bean.userStatus != null">
				 user_status,
			</if>
			<if test="bean.gender != null">
				 gender,
			</if>
			<if test="bean.openId != null">
				 open_id,
			</if>
			<if test="bean.avatar != null">
				 avatar,
			</if>
			<if test="bean.admire != null">
				 admire,
			</if>
			<if test="bean.subscribe != null">
				 subscribe,
			</if>
			<if test="bean.introduction != null">
				 introduction,
			</if>
			<if test="bean.userType != null">
				 user_type,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
			<if test="bean.updateBy != null">
				 update_by,
			</if>
			<if test="bean.deleted != null">
				 deleted,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.username!=null">
				 #{bean.username},
			</if>
			<if test="bean.password!=null">
				 #{bean.password},
			</if>
			<if test="bean.phoneNumber!=null">
				 #{bean.phoneNumber},
			</if>
			<if test="bean.email!=null">
				 #{bean.email},
			</if>
			<if test="bean.userStatus!=null">
				 #{bean.userStatus},
			</if>
			<if test="bean.gender!=null">
				 #{bean.gender},
			</if>
			<if test="bean.openId!=null">
				 #{bean.openId},
			</if>
			<if test="bean.avatar!=null">
				 #{bean.avatar},
			</if>
			<if test="bean.admire!=null">
				 #{bean.admire},
			</if>
			<if test="bean.subscribe!=null">
				 #{bean.subscribe},
			</if>
			<if test="bean.introduction!=null">
				 #{bean.introduction},
			</if>
			<if test="bean.userType!=null">
				 #{bean.userType},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
			<if test="bean.updateBy!=null">
				 #{bean.updateBy},
			</if>
			<if test="bean.deleted!=null">
				 #{bean.deleted},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.njtech.blog.entity.po.User">
		 INSERT INTO user
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.username != null">
				 username,
			</if>
			<if test="bean.password != null">
				 password,
			</if>
			<if test="bean.phoneNumber != null">
				 phone_number,
			</if>
			<if test="bean.email != null">
				 email,
			</if>
			<if test="bean.userStatus != null">
				 user_status,
			</if>
			<if test="bean.gender != null">
				 gender,
			</if>
			<if test="bean.openId != null">
				 open_id,
			</if>
			<if test="bean.avatar != null">
				 avatar,
			</if>
			<if test="bean.admire != null">
				 admire,
			</if>
			<if test="bean.subscribe != null">
				 subscribe,
			</if>
			<if test="bean.introduction != null">
				 introduction,
			</if>
			<if test="bean.userType != null">
				 user_type,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
			<if test="bean.updateBy != null">
				 update_by,
			</if>
			<if test="bean.deleted != null">
				 deleted,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.username!=null">
				 #{bean.username},
			</if>
			<if test="bean.password!=null">
				 #{bean.password},
			</if>
			<if test="bean.phoneNumber!=null">
				 #{bean.phoneNumber},
			</if>
			<if test="bean.email!=null">
				 #{bean.email},
			</if>
			<if test="bean.userStatus!=null">
				 #{bean.userStatus},
			</if>
			<if test="bean.gender!=null">
				 #{bean.gender},
			</if>
			<if test="bean.openId!=null">
				 #{bean.openId},
			</if>
			<if test="bean.avatar!=null">
				 #{bean.avatar},
			</if>
			<if test="bean.admire!=null">
				 #{bean.admire},
			</if>
			<if test="bean.subscribe!=null">
				 #{bean.subscribe},
			</if>
			<if test="bean.introduction!=null">
				 #{bean.introduction},
			</if>
			<if test="bean.userType!=null">
				 #{bean.userType},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
			<if test="bean.updateBy!=null">
				 #{bean.updateBy},
			</if>
			<if test="bean.deleted!=null">
				 #{bean.deleted},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.username!=null">
				 username = VALUES(username),
			</if>
			<if test="bean.password!=null">
				 password = VALUES(password),
			</if>
			<if test="bean.phoneNumber!=null">
				 phone_number = VALUES(phone_number),
			</if>
			<if test="bean.email!=null">
				 email = VALUES(email),
			</if>
			<if test="bean.userStatus!=null">
				 user_status = VALUES(user_status),
			</if>
			<if test="bean.gender!=null">
				 gender = VALUES(gender),
			</if>
			<if test="bean.openId!=null">
				 open_id = VALUES(open_id),
			</if>
			<if test="bean.avatar!=null">
				 avatar = VALUES(avatar),
			</if>
			<if test="bean.admire!=null">
				 admire = VALUES(admire),
			</if>
			<if test="bean.subscribe!=null">
				 subscribe = VALUES(subscribe),
			</if>
			<if test="bean.introduction!=null">
				 introduction = VALUES(introduction),
			</if>
			<if test="bean.userType!=null">
				 user_type = VALUES(user_type),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
			<if test="bean.updateBy!=null">
				 update_by = VALUES(update_by),
			</if>
			<if test="bean.deleted!=null">
				 deleted = VALUES(deleted),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.njtech.blog.entity.po.User" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO user(
			 username,
			 password,
			 phone_number,
			 email,
			 user_status,
			 gender,
			 open_id,
			 avatar,
			 admire,
			 subscribe,
			 introduction,
			 user_type,
			 create_time,
			 update_time,
			 update_by,
			 deleted
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.username},
				 #{item.password},
				 #{item.phoneNumber},
				 #{item.email},
				 #{item.userStatus},
				 #{item.gender},
				 #{item.openId},
				 #{item.avatar},
				 #{item.admire},
				 #{item.subscribe},
				 #{item.introduction},
				 #{item.userType},
				 #{item.createTime},
				 #{item.updateTime},
				 #{item.updateBy},
				 #{item.deleted}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.njtech.blog.entity.po.User">
		 INSERT INTO user(
			 username,
			 password,
			 phone_number,
			 email,
			 user_status,
			 gender,
			 open_id,
			 avatar,
			 admire,
			 subscribe,
			 introduction,
			 user_type,
			 create_time,
			 update_time,
			 update_by,
			 deleted
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.username},
				 #{item.password},
				 #{item.phoneNumber},
				 #{item.email},
				 #{item.userStatus},
				 #{item.gender},
				 #{item.openId},
				 #{item.avatar},
				 #{item.admire},
				 #{item.subscribe},
				 #{item.introduction},
				 #{item.userType},
				 #{item.createTime},
				 #{item.updateTime},
				 #{item.updateBy},
				 #{item.deleted}
			 )
		 </foreach>
			on DUPLICATE key update 
			username = VALUES(username),
			password = VALUES(password),
			phone_number = VALUES(phone_number),
			email = VALUES(email),
			user_status = VALUES(user_status),
			gender = VALUES(gender),
			open_id = VALUES(open_id),
			avatar = VALUES(avatar),
			admire = VALUES(admire),
			subscribe = VALUES(subscribe),
			introduction = VALUES(introduction),
			user_type = VALUES(user_type),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time),
			update_by = VALUES(update_by),
			deleted = VALUES(deleted)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.njtech.blog.entity.query.UserQuery">
		 UPDATE user
 		 <set> 
			<if test="bean.username != null">
				 username = #{bean.username},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.phoneNumber != null">
				 phone_number = #{bean.phoneNumber},
			</if>
			<if test="bean.email != null">
				 email = #{bean.email},
			</if>
			<if test="bean.userStatus != null">
				 user_status = #{bean.userStatus},
			</if>
			<if test="bean.gender != null">
				 gender = #{bean.gender},
			</if>
			<if test="bean.openId != null">
				 open_id = #{bean.openId},
			</if>
			<if test="bean.avatar != null">
				 avatar = #{bean.avatar},
			</if>
			<if test="bean.admire != null">
				 admire = #{bean.admire},
			</if>
			<if test="bean.subscribe != null">
				 subscribe = #{bean.subscribe},
			</if>
			<if test="bean.introduction != null">
				 introduction = #{bean.introduction},
			</if>
			<if test="bean.userType != null">
				 user_type = #{bean.userType},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
			<if test="bean.updateBy != null">
				 update_by = #{bean.updateBy},
			</if>
			<if test="bean.deleted != null">
				 deleted = #{bean.deleted},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from user
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.njtech.blog.entity.po.User">
		 UPDATE user
 		 <set> 
			<if test="bean.username != null">
				 username = #{bean.username},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.phoneNumber != null">
				 phone_number = #{bean.phoneNumber},
			</if>
			<if test="bean.email != null">
				 email = #{bean.email},
			</if>
			<if test="bean.userStatus != null">
				 user_status = #{bean.userStatus},
			</if>
			<if test="bean.gender != null">
				 gender = #{bean.gender},
			</if>
			<if test="bean.openId != null">
				 open_id = #{bean.openId},
			</if>
			<if test="bean.avatar != null">
				 avatar = #{bean.avatar},
			</if>
			<if test="bean.admire != null">
				 admire = #{bean.admire},
			</if>
			<if test="bean.subscribe != null">
				 subscribe = #{bean.subscribe},
			</if>
			<if test="bean.introduction != null">
				 introduction = #{bean.introduction},
			</if>
			<if test="bean.userType != null">
				 user_type = #{bean.userType},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
			<if test="bean.updateBy != null">
				 update_by = #{bean.updateBy},
			</if>
			<if test="bean.deleted != null">
				 deleted = #{bean.deleted},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from user where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from user where id=#{id}
	</select>

	<!-- 根据Username修改-->
	<update id="updateByUsername" parameterType="com.njtech.blog.entity.po.User">
		 UPDATE user
 		 <set> 
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.phoneNumber != null">
				 phone_number = #{bean.phoneNumber},
			</if>
			<if test="bean.email != null">
				 email = #{bean.email},
			</if>
			<if test="bean.userStatus != null">
				 user_status = #{bean.userStatus},
			</if>
			<if test="bean.gender != null">
				 gender = #{bean.gender},
			</if>
			<if test="bean.openId != null">
				 open_id = #{bean.openId},
			</if>
			<if test="bean.avatar != null">
				 avatar = #{bean.avatar},
			</if>
			<if test="bean.admire != null">
				 admire = #{bean.admire},
			</if>
			<if test="bean.subscribe != null">
				 subscribe = #{bean.subscribe},
			</if>
			<if test="bean.introduction != null">
				 introduction = #{bean.introduction},
			</if>
			<if test="bean.userType != null">
				 user_type = #{bean.userType},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
			<if test="bean.updateBy != null">
				 update_by = #{bean.updateBy},
			</if>
			<if test="bean.deleted != null">
				 deleted = #{bean.deleted},
			</if>
 		 </set>
 		 where username=#{username}
	</update>

	<!-- 根据Username删除-->
	<delete id="deleteByUsername">
		delete from user where username=#{username}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUsername" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from user where username=#{username}
	</select>

</mapper>